@{
    ViewBag.Title = "About";
}

<h1 style="color:brown; font-family:cursive;">Find Your favourite Pet.</h1>
<!-- Page Content -->
<div class="container">


    <hr class="mt-2 mb-5">

    <div class="row text-center text-lg-left">

        <div class="col-lg-3 col-md-4 col-6">
           
            <a href="../Pet/List" class="d-block mb-4 h-100">

                <img class="img-fluid img-thumbnail" src="~/Content/Images/bruce-galpin-h7oZAHnS9_E-unsplash.jpg" />
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            <a href="#" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="~/Content/Images/karsten-winegeart-oU6KZTXhuvk-unsplash.jpg" />
            </a>
          
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            <a href="#" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="~/Content/Images/mathilde-langevin-wlGOlYuKvz4-unsplash.jpg" />
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            <a href="#" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="~/Content/Images/mathilde-langevin-YDruQ9krBXI-unsplash.jpg" />
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            <a href="#" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="~/Content/Images/olia-nayda-f6v_Q0WXEK8-unsplash.jpg" />
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            <a href="#" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="~/Content/Images/roberto-nickson--s5WfAx74fM-unsplash.jpg" />
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            <a href="#" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="~/Content/Images/bruce-galpin-h7oZAHnS9_E-unsplash.jpg" />
</div>
        <div class="col-lg-3 col-md-4 col-6">
            <a href="#" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="~/Content/Images/105992231-1561667465295gettyimages-521697453.jpeg" />
            </a>
        </div>
        
    </div>

</div>
